{% extends "homepage.html" %}

{% block titulo %}
Perfil: {{usuario.username}}
{% endblock %}

{% block body %}
{% include "navbar.html" %}
  <body>
        <div class="container">
            {% if form %}
                <form method="POST" enctype="multipart/form-data" class="bloco-add-img">
                {{ form.csrf_token }}
                  <h2>Bem vindo {{usuario.username}} - Enviar foto</h2>

                  <div class="bloco-arquivo">
                    <label for="foto" class="botao-arquivo">
                      Escolher arquivo
                      {{ form.foto(class="input-arquivo", id="foto") }}
                    </label>
                    <span id="imagem-arquivo" class=""></span>
                  </div>
                    {{ form.botao_confirma(class="botao-login") }}
                </form>
            {% else %}
                <div class="bloco-add-img">
                    <h2>Vendo perfil de {{ usuario.username }}</h2>
                </div>
            {% endif %}
        </div>

      <div class="conteudo">
        {% for foto in usuario.fotos%}
          <div class="bloco-imagem">
            <img src="{{url_for('static', filename='fotos_post/{}'.format(foto.imagem))}}" alt="Pinterest 1" />
          </div>
        {% endfor %}
      </div>

    <script>
      let input = document.getElementById("foto");
      let imagemArquivo = document.getElementById("imagem-arquivo");

      input.addEventListener("change", () => {
        let inputImagem = document.querySelector("input[type=file]").files[0];

        imagemArquivo.classList.add("visivel");
        imagemArquivo.innerText = inputImagem.name;
      });
    </script>
  </body>
{% endblock %}

